<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>CCA Portal</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" type="image/x-icon" href="https://freepngimg.com/download/sports_equipment/22587-6-sport-picture.png">
    </head>
    <body>
      <h1>CCA Portal</h1> 
      <table>  
        <tr>
          <th>My CCA choices</th>
          <th>Suggestion</th>
          <th>Registration</th>
        </tr>
        <tr>
          <td><form action="/mycca" method="get">
      <button type="submit">My CCA</button>
    </form>Please register for a cca before clicking</td>
          <td><form action="/index" method="get">
      <button type="submit">Suggest an improvement</button>
    </form></td>
          <td><form action="/cca" method="get">
      <button type="submit">CCA Registration</button>
    </form></td>
        </tr>
      </table>
 
    </body>
</html>